footer {
    padding: 20px;
    text-align: center;
    color: #E3E3E3;
    margin: 10px;
  }
body {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    line-height: 1.4;
    background-color: #2c2c2c;
  }
.loupe {
    width:20px;
    height:20px;
    margin-left: 96%;
}
.menu {
                margin: 10px;
    }
.titre {
  color: #E3E3E3;
  font-size: 20px;
  font-weight: bold;
}